{% extends 'forum/base.html' %}

{% block content %}
<div class="forumBackground">
<div class="forumNavbar">
    <a href="{% url 'forum:index' %}" class="logo">
        <img src="../../static/forum/assets/kontrakaniddd.png" alt="logokontrakanid">
    </a> 
    <div class="forumProfile">
        <div class="lonceng">
            <div class="loncenglogo"><i class="uil uil-bell"></i></div>
        </div>
        <a href="{% url 'account:profile'  pk=request.user.id %}">
            <h1>{{ request.user.username }}</h1>
        </a>
    </div>
</div>

<div class="forumHerocontainer">

    <div class="forumHerojudul">
        <h2>Apa kabar hari ini?</h2>
                <div class="forumHerojudulbawah">
                    {% if user.is_authenticated %}
                    <a href="{% url 'account:profile'  pk=request.user.id %}"><i class="uil uil-user"></i> Profile Anda</a>
                    <a href="{% url 'forum:create_rent' %}"><i class="uil uil-plus-circle"></i> Posting kontrakan baru</a>
                    {% endif %}
                </div>
    </div>

    <div class="forumHerokontenposisi">
            <!-- <ul> -->
                <div class="forumHerokonten">
                {% for rent in rents %}
                    <li>
                        <div class="forumHeropostingposisi">
                            <div class="forumHeroposting">
                                <div class="forumHeropostingOwner">
                                    <div class="forumHeropostingOwnerkiri">
                                        <i class="uil uil-user-circle"></i> <h1>{{ rent.owner }}</h1>
                                    </div>
                                    <div class="forumHeropostingOwnerkanan">
                                        <h4>harga: {{ rent.price }}</h4>
                                    </div>
                                </div>
                                <h2><a href="{% url 'forum:rent' pk=rent.pk %}"><i class="uil uil-caret-right"></i> {{ rent.title }}</a></h2>
                                <p>{{ rent.description }}</p>
                                <img src="{{ rent.photo.url }}" alt="{{ rent.title }} Image">
                                <h3>Lokasi : {{ rent.address }}</h3>
                                <div class="forumHeropostingkomentar">
                                    <a href="{% url 'forum:rent' pk=rent.pk %}"><i class="uil uil-angle-double-right"></i><h2>Lihat selengkapnya</h2></a>
                                </div>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li>no rent available</li>
                {% endfor %}
            </div>
            <!-- </ul> -->
    </div>


</div>
</div>
    
    
{% endblock content %}