{% extends 'forum/base.html' %}

{% block content %}
<div class="rentBackground">
<div class="forumNavbar">
        <a href="{% url 'forum:forum' %}" class="logo">
            <div class="backbutton">
                <div class="backbuttoncontent">
                    <i class="uil uil-arrow-left"></i>
                    Forum
                </div>
            </div>
        </a> 
    <div class="forumProfile">
        <div class="lonceng">
            <div class="loncenglogo"><i class="uil uil-bell"></i></div>
        </div>
        <h1>{{ request.user.username }}</h1>
    </div>
</div>


    <div class="rentContainer">
        <div class="rentBox">
            
                <div class="rentTop">
                    <div class="rentTitle">
                        <h3>owner : {{ rent.owner }}</h3>
                        <h2>- {{ rent.title }}</h2>
                    </div>
                    <div class="rentInfo">
                        <h2>harga: {{ rent.price }}</h2>
                        <h3>Sisa: {{ remainder }}</h3>
                    </div>
                </div>
                
                <div class="rentMid">
                    <div class="rentSplitter">
                        <div class="rentDesc">
                            <h2>{{ rent.description }}</h2>
                            <img src="{{ rent.photo.url }}" alt="{{ rent.title }} Image">
                            <h3>Lokasi : {{ rent.address }}</h3>
                        </div>
                    </div>
                    <div class="rentList">
                        <h3>Daftar Anggota</h3>
                            {% for occupant in occupants %}
                                <li>{{ occupant.username }}</li>
                            {% empty %}
                                <li>belum ada orang</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            
            <div class="rentBot">
                {% if request.user.is_authenticated %}
                <a href="{% url 'forum:create_comment' pk=rent.pk %}">
                    <i class="uil uil-comment-add"></i>
                    <h2>Posting komentar baru</h2>
                </a>
                {% if user_already_in %}
                    <a href="{% url 'forum:undo_rent' pk=rent.pk %}">
                        <i class="uil uil-user-minus"></i>
                        <h2>Cabut dari kontrakan</h2>
                    </a> 
                {% else %}
                    <a href="{% url 'forum:join_rent' pk=rent.pk %}">
                        <i class="uil uil-user-plus"></i>
                        <h2>Join kontrakan</h2>
                    </a>
                {% endif %}
                {% endif %}

                {% if request.user.id == rent.owner.id %}
                    <a href="{% url 'forum:update_rent' pk=rent.pk %}">
                        <i class="uil uil-edit-alt"></i>
                        <h2>Edit postingan</h2>
                    </a>
                {% endif %}
            </div>
            
        </div>

    </div>

    <div class="rentComment">
        <h3>Comment Section</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author }}</strong> </br> {{ comment.content }}
                {% if request.user.is_authenticated and request.user.id == comment.author.id %}
                    <a href="{% url 'forum:update_comment' pk=comment.pk %}">edit komentar</a>
                {% endif %}
            </li>
        {% empty %}
            <li>no comment yet</li>
        {% endfor %}
    </ul>
    </div>

</div>
    

{% endblock content %}