{% extends 'forum/base.html' %}

{% block content %}

    <div class="rentContainer">
        <div class="rentBox">

            <div class="rentTop">
                <div class="rentTitle">
                    <h3>owner : {{ rent.owner }}</h3>
                    <h2>- {{ rent.title }}</h2>
                </div>
                <div class="rentInfo">
                    <h2>harga: {{ rent.price }}</h2>
                    <h3>Sisa: {{ remainder }}</h3>
                </div>
            </div>
            
            <div class="rentMid">
                <div class="rentDesc">
                    <h2>{{ rent.description }}</h2>
                    <img src="{{ rent.photo.url }}" alt="{{ rent.title }} Image">
                    <h3>Lokasi : {{ rent.address }}</h3>
                </div>
            </div>

            <h3>daftar orang</h3>
                    <ul>
                        {% for occupant in occupants %}
                            <li>{{ occupant.username }}</li>
                        {% empty %}
                            <li>belum ada orang</li>
                        {% endfor %}
                    </ul>
        </div>

    </div>

    
    


    

    

    {% if request.user.id == rent.owner.id %}
        <a href="{% url 'forum:update_rent' pk=rent.pk %}">Edit postingan</a>
    {% endif %}

    {% if request.user.is_authenticated %}
        <p><a href="{% url 'forum:create_comment' pk=rent.pk %}">Posting komentar baru</a></p>
        {% if user_already_in %}
            <p><a href="{% url 'forum:undo_rent' pk=rent.pk %}">cabut dari kontrakan</a></p>    
        {% else %}
            <p><a href="{% url 'forum:join_rent' pk=rent.pk %}">join kontrakan</a></p>
        {% endif %}
    {% endif %}
    
    <h3>comment section</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author }}</strong>: {{ comment.content }}
                {% if request.user.is_authenticated and request.user.id == comment.author.id %}
                    <a href="{% url 'forum:update_comment' pk=comment.pk %}">edit komentar</a>
                {% endif %}
            </li>
        {% empty %}
            <li>no comment yet</li>
        {% endfor %}
    </ul>




{% endblock content %}