{% extends 'forum/base.html' %}


{% block content %}

<div class="forumBackground">
    <div class="forumNavbar">
        <a href="{% url 'forum:forum' %}" class="logo">
            <div class="backbutton">
                <div class="backbuttoncontent">
                    <i class="uil uil-arrow-left"></i>
                    Forum
                </div>
            </div>
        </a> 
    <div class="forumProfile">
        <div class="lonceng">
            <div class="loncenglogo"><i class="uil uil-bell"></i></div>
        </div>
        <a href="{% url 'account:profile'  pk=request.user.id %}">
        <h1>{{ request.user.username }}</h1>
        </a>
    </div>
    </div>


    <div class="mycommentHero">

        <h2>List Komentar ku</h2>

        <div class="mycommentBox">
                {% for comment in comments %}
                    {% with rent=comment.rent %}
                        <h3><a href="{% url 'forum:rent' pk=rent.pk %}"><i class="uil uil-estate"></i>  {{ rent.title }}</a></h3>
                        <h4>komentar: {{ comment.content }}</h4>
                        <p><a href="{% url 'forum:update_comment' pk=comment.pk %}">edit</a></p>
                        <p><a href="{% url 'forum:delete_comment' pk=comment.pk %}">delete</a></p>
                    {% endwith %}
                {% empty %}
                    <li>you dont have any rent</li>
                {% endfor %}
        </div>
        
    </div>

</div>


{% endblock content %}