{% extends 'forum/base.html' %}


{% block content %}
<div class="forumBackground">
<div class="forumNavbar">
    <a href="{% url 'forum:forum' %}" class="logo">
      <div class="backbutton">
        <div class="backbuttoncontent">
          <i class="uil uil-arrow-left"></i>
          Forum
        </div>
      </div>
    </a>
    <div class="forumProfile">
      <div class="lonceng">
        <div class="loncenglogo"><i class="uil uil-bell"></i></div>
      </div>
      <a href="{% url 'account:profile'  pk=request.user.id %}">
        {% if user.profile %}
        <img src="{{ user.profile.photo.url }}" alt="" class="photoProfile" />
        {% else %}
        <h1 class="photoProfilename">{{ request.user.username }}</h1>
        {% endif %}
      </a>
    </div>
  </div>

<h2>anda terdaftar di</h2>
<ul>
    {% for rent in waiting_list %}
        {% if rent.is_closed %}
            <li class="bg-success">
                <h2><a href="{% url 'forum:rent' pk=rent.pk %}">{{ rent.title }}</a></h2>
                <p>{{ rent.description }}</p>
            </li>
        {% else %}
            <li>
                <h2><a href="{% url 'forum:rent' pk=rent.pk %}">{{ rent.title }}</a></h2>
                <p>{{ rent.description }}</p>
            </li>
        {% endif %}
    {% empty %}
        <li>belum terdaftar di kosan manapun</li>
    {% endfor %}
</ul>
<div class="tambahan"></div>
</div>
{% endblock content %}