
.forumBackground {
    background-color: #F5f5f5;
    width: 100%;
    height: 100%;
}

.forumNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 115px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 20px 5%;
    margin-bottom: 3%;
}

.forumNavbar a {
    text-decoration: none;
    color: #000000;
}
.forumProfile {
    display: flex;
}

.forumProfile .lonceng {
    height: 45px;
  width: 45px;
  background-color: #F9D342;
  border-radius: 50%;
  display: inline-block;
}

.loncenglogo {
    font-size: 26px;
    width: 26px;
    margin: auto;
}

.forumHerocontainer {
    display: block;
}

.forumHerojudul {
    margin: auto;
    width: 807px;
    height: 169px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.forumHerojudul h2 {
    width: 270px;
    margin: auto;
}

.forumHerojudulbawah {
    display: flex;
    margin-top: 40px;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;

justify-content: space-between;

}

.forumHerojudulbawah a {
    color: #d8b527;
    text-decoration: none;
}

.forumHerokontenposisi {
    margin-top: 2.5%;
}

.forumHerokonten {
    width: 807px;
    margin: auto;

    list-style-type: none;
}

.forumHeropostingposisi {
    margin-top: 2.5%;
}

.forumHeroposting {
    width: 807px;
    height: 420px;
    padding-left: 10%;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-bottom: 10px;
}

.forumHeropostingOwner {
    display: flex;
    padding-top: 5%;
    padding-right: 10%;
    justify-content: space-between;
}

.forumHeropostingOwner h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;

    color: #292826;
    margin-top: 15px;
}

.forumHeropostingOwnerkanan {
    width: 180px;
    height: 51px;

    background: #F9D342;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

padding-top: 2.5%;
padding-left: 3%;
}

.forumHeropostingOwnerkanan h4 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 20px;
color: #292826;
}

.forumHeroposting h2 {
    padding-top: 3%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
}

.forumHeroposting h2 :hover {
    color: #ce9834;
}

.forumHeroposting h3 {
    margin-top: 3%;

    font-family: 'Montserrat';
font-style: italic;
font-weight: 200;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.forumHeroposting h2 a {
    text-decoration: none;
    color: #292826;
}

.forumHeroposting p {
    padding-top: 1%;

    width: 640px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

.forumHeroposting img {
    width: 200px;
    height: 110px;
}

.forumHeropostingkomentar {
    padding-top: 1.5%;

    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

}

.forumHeropostingkomentar i {
    font-size: 30px;
}

.forumHeropostingkomentar a {
    text-decoration: none;
    color: #292826;
    display: flex;
}

.forumHeropostingkomentar h2 {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

margin-top: -2%;
margin-left: 0.5%;
}

