
.myrentHero h2 {
    width: 255px;
    margin: auto;
    margin-bottom: 20px;
}

.myrentBox {
    width: 800px;
    margin: auto;
    padding: 3%;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
}

.myrentBox h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.myrentBox h3 a {
    text-decoration: none;
}

.myrentAction {
    display: flex;
}

.myrentAction i {
    font-size: 24px;
    margin-right: 20px;
    color: black;
}

